@using System.Web.Mvc.Html
@model MVCSchool.Models.Trainer
@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm("DbCreate", "Trainer", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="my-form row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="card">

                <div class="card-header">
                    <h6 class="text-center">Register Trainer</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(t => t.FirstName, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(t => t.FirstName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(t => t.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(t => t.LastName, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(t => t.LastName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(t => t.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(t => t.Subject, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(t => t.Subject, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(t => t.Subject, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <button id="crsBtn" type="button" class="btn btn-sm btn-primary m-2">Add Course</button>

                    <div id="addCrs" class="form-group mb-5">
                        <label class="col-md-4 col-form-label" for="courseList">Courses</label>
                        <div class="col-md-6 offset-md-3">
                            @Html.ListBox("courseList", ViewBag.courseList as MultiSelectList, new { @class = "selectpicker form-control" })
                        </div>
                    </div>

                    <div class="col-md-6 offset-md-3 mt-4">
                        <input type="reset" class="btn btn-outline-secondary btn-block" value="Reset" />
                        <input type="submit" class="btn btn-success btn-block" value="Register" />
                    </div>
                </div>
            </div>
            @Html.ActionLink("Return", "Index", "Admin", null, new { @class = "btn btn-outline-info btn-sm" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/MyJS/AddBtns.js"></script>
}