@model MVCSchool.Models.ViewModels.TrainerViewModel

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("DbEdit", "Trainer", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="my-form row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="card">

                <div class="card-header">
                    <h6 class="text-center">Edit Trainer</h6>
                </div>

                @Html.HiddenFor(t => t.Trainer.TrainerId)

                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(t => t.Trainer.FirstName, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(t => t.Trainer.FirstName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(t => t.Trainer.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(t => t.Trainer.LastName, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(t => t.Trainer.LastName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(t => t.Trainer.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div> 
                    
                    <div class="form-group">
                        @Html.LabelFor(t => t.Trainer.YearsOfExperience, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(t => t.Trainer.YearsOfExperience, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(t => t.Trainer.YearsOfExperience, "", new { @class = "text-danger" })
                        </div>
                    </div>

                      <div class="form-group">
                        @Html.LabelFor(t => t.Trainer.PhotoUrl, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) 
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(t => t.Trainer.PhotoUrl, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(t => t.Trainer.PhotoUrl, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(t => t.Trainer.Subject, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(t => t.Trainer.Subject, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(t => t.Trainer.Subject, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(t => t.Trainer.Bio, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.TextAreaFor(t => t.Trainer.Bio, new { htmlAttributes = new { @class = "form-control ", rows = "12", autocomplete = "off" } })
                            @Html.ValidationMessageFor(t => t.Trainer.Bio, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    @if (Model.Trainer.Courses.Count > 0 && Model.Trainer.Courses.Count < 8)
                    {
                        <label class="h6">Selected Courses</label>
                        <ul class="list-unstyled">
                            @foreach (var course in Model.Trainer.Courses)
                            {
                                <li class="form-check-inline"><i class="fa fa-check-circle-o"> @course.Title</i> </li>
                            }
                        </ul>
                    }

                    <button id="crsEBtn" type="button" class="btn btn-sm btn-primary mb-2">Edit Courses</button>

                    <div id="editCrs" class="form-group mb-5">
                        <label class="col-md-4 col-form-label" for="CourseEdit">Courses</label>
                        <div class="col-md-6 offset-md-3">
                            @Html.ListBox("CourseEdit", null, new { @class = "selectpicker form-control ", multiple = "multiple" })
                        </div>
                    </div>

                    <div class="col-md-6 offset-md-3">
                        <input type="reset" class="btn btn-outline-secondary btn-block" value="Reset" />
                        <input type="submit" class="btn btn-success btn-block" value="Save Changes" />
                    </div>
                </div>
            </div>
            @Html.ActionLink("Return", "Index", "Admin", null, new { @class = "btn btn-outline-info btn-sm" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/MyJS/EditBtns.js"></script>
}