@model  IEnumerable<MVCSchool.Models.Trainer>
@{
    ViewBag.Title = "Trainers";
}

<div class="container">
    <h3 class="text-center m-5">Our Trainers</h3>
    <div class="row m-2">
        @foreach (var trainer in Model)
        {

            <div class="m-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a class="text-decoration-none" href="~/Trainer/Details/@trainer.TrainerId">@trainer.FirstName @trainer.LastName</a></h5>
                        <ul class="list-unstyled">
                            <li>
                                <img src="@trainer.PhotoUrl" alt=""/></li>
                            <li><strong>Years of Experience:</strong> @trainer.YearsOfExperience</li>
                            <li><strong>Subject:</strong> @trainer.Subject</li>
                            <li>
                                <strong>About</strong>
                                <p>@trainer.Bio</p>
                            </li>
                        </ul>
                        <a href="~/Trainer/Details/@trainer.TrainerId" class="btn btn-outline-info btn-sm">More Details</a>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

