@model  IEnumerable<MVCSchool.Models.Trainer>
@{
    ViewBag.Title = "Trainers";
}



<div class="container-fluid padding">
    <h2 class="m-4 text-center">Trainers</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-light table-striped text-center">
            <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(t=>t.FirstName)</th>
                <th>@Html.DisplayNameFor(t=>t.LastName)</th>
                <th>@Html.DisplayNameFor(t=>t.Subject)</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var trainer in Model)
            {
                <tr id="@trainer.TrainerId">
                    <td>@trainer.FirstName</td>
                    <td>@trainer.LastName</td>
                    <td>@trainer.Subject</td>
                </tr>
            }
            </tbody>
        </table>
        @Html.ActionLink("Return", "Index", "Home", null, new { @class = "btn btn-outline-info btn-sm"})
    </div>
</div>