@model MVCSchool.Models.ViewModels.AdminViewModel
@using PagedList.Mvc;

<div class="row">
   
 @Html.Partial("_Courses")

 @Html.Partial("_Assignments")

</div>

<hr class="my-4" />

<div class="row">

    @Html.Partial("_Students")

    @Html.Partial("_Trainers")
   
    @*Return Button*@
    <div class="col-md-6">
        <div class="container pull-left">
            @Html.ActionLink("Return", "Index", "Home", null, new { @class = "btn btn-outline-info btn-lg" })
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/Scripts/MyJS/ResetButtons.js"></script>
}