@model MVCSchool.Models.ViewModels.StudentViewModel

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("DbEdit", "Student", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="my-form row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="card">

                <div class="card-header">
                    <h6 class="text-center">Edit Student</h6>
                </div>

                @Html.HiddenFor(s => s.Student.StudentId)

                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(s => s.Student.FirstName, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(s => s.Student.FirstName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(s => s.Student.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(s => s.Student.LastName, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(s => s.Student.LastName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(s => s.Student.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(s => s.Student.DateOfBirth, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <br />
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(s => s.Student.DateOfBirth, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", type = "date", min = DateTime.Now.Year - 100, max = DateTime.Now.Year - 18 } })
                            @Html.ValidationMessageFor(s => s.Student.DateOfBirth, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(s => s.Student.TuitionFee, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(s => s.Student.TuitionFee, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(s => s.Student.TuitionFee, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    @if (Model.Student.Courses.Count > 0 && Model.Student.Courses.Count < 8)
                    {
                        <label class="h6">Selected Courses</label>
                        <ul class="list-unstyled">
                            @foreach (var course in Model.Student.Courses)
                            {
                                <li class="form-check-inline"><i class="fa fa-check-circle-o"> @course.Title</i> </li>
                            }
                        </ul>
                    }

                    <button id="crsEBtn" type="button" class="btn btn-sm btn-primary mb-2">Edit Courses</button>

                    <div id="editCrs" class="form-group mb-5">
                        <label class="col-md-4 col-form-label" for="CourseEdit">Courses</label>
                        <div class="col-md-6 offset-md-3">
                            @Html.ListBox("CourseEdit", null, new { @class = "selectpicker form-control " })
                        </div>
                    </div>

                    <br />
                    
                    @if (Model.Student.Assignments.Count > 0 && Model.Student.Assignments.Count < 8)
                    {
                        <label class="h6">Selected Assignments</label>
                        <ul class="list-unstyled">
                            @foreach (var assignment in Model.Student.Assignments)
                            {
                                <li class="form-check-inline"><i class="fa fa-check-circle-o"> @assignment.Title</i> </li>
                            }
                        </ul>
                    }

                    <button id="assEBtn" type="button" class="btn btn-sm btn-primary mb-2">Edit Assignment</button>

                    <div id="editAss" class="form-group mb-5">
                        <label class="col-md-4 col-form-label" for="AssignmentEdit">Assignment</label>
                        <div class="col-md-6 offset-md-3">
                            @Html.ListBox("AssignmentEdit", null, new { @class = "selectpicker form-control " })
                        </div>
                    </div>

                    <div class="col-md-6 offset-md-3">
                        <input type="reset" class="btn btn-outline-secondary btn-block" value="Reset" />
                        <input type="submit" class="btn btn-success btn-block" value="Save Changes" />
                    </div>
                </div>
            </div>
            @Html.ActionLink("Return", "Index", "Admin", null, new { @class = "btn btn-outline-info btn-sm" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/MyJS/EditBtns.js"></script>
}