@model  IEnumerable<MVCSchool.Models.Student>
@{
    ViewBag.Title = "Students";
}


<div class="container-fluid">
    <h2 class="m-4 text-center">Students</h2>

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-light table-striped text-center">
            <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(s => s.FirstName)</th>
                <th>@Html.DisplayNameFor(s => s.LastName)</th>
                <th>@Html.DisplayNameFor(s => s.DateOfBirth)</th>
                <th>@Html.DisplayNameFor(s => s.TuitionFee)</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var student in Model)
            {
                <tr id="@student.StudentId">
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.DateOfBirth.ToString("yyyy MMMM dd")</td>
                    <td>@student.TuitionFee€</td>
                </tr>
            }
            </tbody>
        </table>
        @Html.ActionLink("Return", "Index", "Home", null, new { @class = "btn btn-outline-info btn-sm"})
    </div>
</div>