@model  IEnumerable<MVCSchool.Models.Assignment>
@{
    ViewBag.Title = "Assignments";
}

<div class="container">
    <h3 class="text-center m-5">Our Assignments</h3>
    <div class="row m-2">
        @foreach (var assignment in Model)
        {

            <div class="m-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a class="text-decoration-none" href="~/Assignment/Details/@assignment.AssignmentId">@assignment.Title</a></h5>
                        <ul class="list-unstyled">
                            <li><strong>Description:</strong> @assignment.Description</li>
                            <li><strong>Oral Mark:</strong> @assignment.OralMark</li>
                            <li><strong>Total Mark:</strong> @assignment.TotalMark</li>
                            <li><strong>Submission:</strong>@assignment.Submission</li>
                        </ul>
                        <a href="~/Assignment/Details/@assignment.AssignmentId" class="btn btn-outline-info btn-sm">More Details</a>
                    </div>
                </div>
            </div>

        }
    </div>
</div>