@model  IEnumerable<MVCSchool.Models.Assignment>
@{
    ViewBag.Title = "Assignments";
}



<div class="container-fluid">
    <h2 class="m-4 text-center">Assignments</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-light table-striped text-center">
            <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(a=>a.Title)</th>
                <th>@Html.DisplayNameFor(a => a.Description)</th>
                <th>@Html.DisplayNameFor(a => a.Submission)</th>
                <th>@Html.DisplayNameFor(a => a.OralMark)</th>
                <th>@Html.DisplayNameFor(a => a.TotalMark)</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var assignment in Model)
            {
                <tr id="@assignment.AssignmentId">
                    <td>@assignment.Title</td>
                    <td>@assignment.Description</td>
                    <td>@assignment.Submission</td>
                    <td>@assignment.OralMark</td>
                    <td>@assignment.TotalMark</td>
                </tr>
            }
            </tbody>
        </table>
        @Html.ActionLink("Return" , "Index","Home" , null,new { @class = "btn btn-outline-info btn-sm" })
    </div>
</div>