@model MVCSchool.Models.ViewModels.AssignmentViewModel
@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm("DbCreate", "Assignment", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="my-form row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="card">

                <div class="card-header">
                    <h6 class="text-center">Register Assignment</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(a => a.Assignment.Title, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(a => a.Assignment.Title, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(a => a.Assignment.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(a => a.Assignment.Description, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(a => a.Assignment.Description, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(a => a.Assignment.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(a => a.Assignment.Submission, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(a => a.Assignment.Submission, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", type = "datetime-local", min = DateTime.Now.Year - 1 } })
                            @Html.ValidationMessageFor(a => a.Assignment.Submission, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(a => a.Assignment.OralMark, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(a => a.Assignment.OralMark, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(a => a.Assignment.OralMark, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(a => a.Assignment.TotalMark, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(a => a.Assignment.TotalMark, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(a => a.Assignment.TotalMark, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <button id="crsBtn" type="button" class="btn btn-sm btn-primary m-2">Add Course</button>

                    <div id="addCrs" class="form-group mb-5">
                        <label class="col-md-4 col-form-label" for="CourseList">Courses</label>
                        <div class="col-md-6 offset-md-3">
                            @Html.ListBox("CourseList", null, new { @class = "selectpicker form-control" })
                        </div>
                    </div>

                    <button id="stdBtn" type="button" class="btn btn-sm btn-primary m-2">Add Student</button>

                    <div id="addStd" class="form-group mb-5">
                        <label class="col-md-4 col-form-label" for="StudentList">Students</label>
                        <div class="col-md-6 offset-md-3">
                            @Html.ListBox("StudentList", null, new { @class = "selectpicker form-control" })
                        </div>
                    </div>

                    <div class="col-md-6 offset-md-3">
                        <input type="reset" class="btn btn-outline-secondary btn-block" value="Reset" />
                        <input type="submit" class="btn btn-success btn-block" value="Register" />
                    </div>
                </div>
            </div>
            @Html.ActionLink("Return", "Index", "Admin", null, new { @class = "btn btn-outline-info btn-sm" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/MyJS/AddBtns.js"></script>
}