@model MVCSchool.Models.Assignment


<div class="container-fluid  mt-5">
    <h2>Info</h2>

    <ul class="list-unstyled">
        <li><strong>@Html.DisplayNameFor(a => a.Title)</strong> @Model.Title</li>
        <li><strong>@Html.DisplayNameFor(a => a.Description)</strong> @Model.Description</li>
        <li><strong>@Html.DisplayNameFor(a => a.OralMark)</strong> @Model.OralMark</li>
        <li><strong>@Html.DisplayNameFor(a => a.TotalMark)</strong> @Model.TotalMark</li>
        <li><strong>@Html.DisplayNameFor(a => a.Submission)</strong> @Model.Submission</li>
    </ul>

    @if (Model.Courses.Count > 0)
    {
        <h5>Courses for @Model.Title</h5>
        <ul>
            @foreach (var course in Model.Courses)
            {
                <li>@course.Title @course.Stream</li>
            }
        </ul>
    }

    @if (Model.Students.Count > 0)
    {
        <h5>Students for @Model.Title</h5>
        <ul>
            @foreach (var student in Model.Students)
            {
                <li>@student.FirstName @student.LastName</li>
            }
        </ul>
    }


    @Html.ActionLink("Return", "Index", "Admin",null, new { @class = "btn btn-outline-info btn-sm" })
</div>

