@model  IEnumerable<MVCSchool.Models.Course>
@{
    ViewBag.Title = "Courses";
}

<div class="container-fluid">
    <h2 class="m-4 text-center">Courses</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-light table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(c => c.Title)</th>
                    <th>@Html.DisplayNameFor(c => c.Stream)</th>
                    <th>@Html.DisplayNameFor(c => c.Type)</th>
                    <th>@Html.DisplayNameFor(c => c.StartDate)</th>
                    <th>@Html.DisplayNameFor(c => c.EndDate)</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var course in Model)
            {
                <tr id="@course.CourseId">
                    <td>@course.Title</td>
                    <td>@course.Stream</td>
                    <td>@course.Type</td>
                    <td>@course.StartDate.ToString("yyyy MMMM dd")</td>
                    <td>@course.EndDate.ToString("yyyy MMMM dd")</td>
                </tr>
            }
            </tbody>
        </table>
        @Html.ActionLink("Return", "Index", "Home", null, new { @class = "btn btn-outline-info btn-sm"})
    </div>
</div>


