@model MVCSchool.Models.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("DbEdit", "Course", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="my-form row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="card">

                <div class="card-header">
                    <h6 class="text-center">Edit Course</h6>
                </div>

                @Html.HiddenFor(c => c.Course.CourseId)

                <div class="card-body">

                    <div class="form-group">
                        @Html.LabelFor(c => c.Course.Title, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(c => c.Course.Title, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(c => c.Course.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(c => c.Course.Stream, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(c => c.Course.Stream, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(c => c.Course.Stream, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(c => c.Course.Type, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(c => c.Course.Type, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(c => c.Course.Type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(c => c.Course.StartDate, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(c => c.Course.StartDate, new { htmlAttributes = new { @class = "form-control", min = DateTime.Now.Year - 1 } })
                            @Html.ValidationMessageFor(c => c.Course.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(c => c.Course.EndDate, new { htmlAttributes = new { @class = "col-md-4 col-form-label text-md-right" } }) <strong style="color:#b22222">*</strong>
                        <div class="col-md-6 offset-md-3">
                            @Html.EditorFor(c => c.Course.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(c => c.Course.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @if (Model.Course.Students.Count > 0 && Model.Course.Students.Count < 10)
                    {
                        <label class="h6">Selected Students</label>
                        <ul class="list-unstyled">
                            @foreach (var student in Model.Course.Students)
                            {
                                <li class="form-check-inline"><i class="fa fa-check-circle-o"> @student.FirstName @student.LastName</i> </li>
                            }
                        </ul>
                    }

                    <button id="stdEBtn" type="button" class="btn btn-sm btn-primary mb-2">Edit Students</button>

                    <div id="editStd" class="form-group mb-5">
                        <label class="col-md-4 col-form-label" for="StudentEdit">Students</label>
                        <div class="col-md-6 offset-md-3">
                            @Html.ListBox("StudentEdit", null, new { @class = "selectpicker form-control ", multiple = "multiple" })
                        </div>
                    </div>

                    <br />

                    @if (Model.Course.Trainers.Count > 0 && Model.Course.Trainers.Count < 8)
                    {
                        <label class="h6">Selected Trainers</label>
                        <ul class="list-unstyled">
                            @foreach (var trainer in Model.Course.Trainers)
                            {
                                <li class="form-check-inline"><i class="fa fa-check-circle-o"> @trainer.FirstName @trainer.LastName</i> </li>
                            }
                        </ul>
                    }

                    <button id="trEBtn" type="button" class="btn btn-sm btn-primary mb-2">Edit Trainers</button>

                    <div id="editTr" class="form-group mb-5">
                        <label class="col-md-4 col-form-label" for="TrainerEdit">Trainers</label>
                        <div class="col-md-6 offset-md-3">
                            @Html.ListBox("TrainerEdit", null, new { @class = "selectpicker form-control ", multiple = "multiple" })
                        </div>
                    </div>

                    <br />

                    @if (Model.Course.Assignments.Count > 0 && Model.Course.Assignments.Count < 10)
                    {
                        <label class="h6">Selected Assignments</label>
                        <ul class="list-unstyled">
                            @foreach (var assignment in Model.Course.Assignments)
                            {
                                <li class="form-check-inline"><i class="fa fa-check-circle-o"> @assignment.Title</i> </li>
                            }
                        </ul>
                    }

                    <button id="assEBtn" type="button" class="btn btn-sm btn-primary mb-2">Edit Assignments</button>

                    <div id="editAss" class="form-group mb-5">
                        <label class="col-md-4 col-form-label" for="AssignmentEdit">Assignments</label>
                        <div class="col-md-6 offset-md-3">
                            @Html.ListBox("AssignmentEdit", null, new { @class = "selectpicker form-control ", multiple = "multiple" })
                        </div>
                    </div>

                    <div class="col-md-6 offset-md-3">
                        <input type="reset" class="btn btn-outline-secondary btn-block" value="Reset" />
                        <input type="submit" class="btn btn-success btn-block" value="Save Changes" />
                    </div>

                </div>
            </div>
            @Html.ActionLink("Return", "Index", "Admin", null, new { @class = "btn btn-outline-info btn-sm" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        jQuery.validator.addMethod("datemustbeequalorgreaterthanstartdate", function (value, element, param) {
            var endDate = $("#Course_EndDate").val();
            var startDate = $("#Course_StartDate").val();

            if (endDate < startDate) {
                return false;
            }
            return true;
        });

        jQuery.validator.unobtrusive.adapters.addBool("datemustbeequalorgreaterthanstartdate");
    </script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/MyJS/EditBtns.js"></script>
}